---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }


$linkFont: "Comic Sans MS", Helvetica, sans-serif;



@import 'test';

@mixin testMix($colorVar: red) {
  color: $colorVar; 
  font-family: $linkFont;
}

.a {
  @include testMix;
  background-color: #ffffff;
}

.b {
  @include testMix($colorVar: blue);
}

p, h1 {
  color: #2bd4d4;
}
