---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }


$linkFont: "Comic Sans MS", Helvetica, sans-serif;


button {
  //background-color: #5ddfe8;
  font-family: $linkFont;
  //border: 1em solid #8ae0e6;
  background: radial-gradient( #5ddfe8, #8ae0e6);
  width: 15em;
  height: 20em;
  transition: transform 2s;
}

button:hover {
  transform: scale(1.5);
}

