---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }


a{
color: #D1A3CE;
font-family: "Dancing Script", sans-serif;
  }

  @font-face {
    font-family: "Dancing Script";
    src: url({{ site.baseurl }}/DancingScript-Regular.ttf);
  }